<nav class="upper-nav" id="nav">
    <button id="hide" onclick="hideNav()"> &#x2715;</button>
    <button id="show" onclick="showNav()"> </button>
    <ol>
        <li class="upper-nav-obj"><a href="{{ 'index'  | relative_url }}">Etusivu</a>

            {% for page in site.fi %}

            {% if page.nav-title%}
        <li class="upper-nav-obj"><a href="{{ page.url  | relative_url }}">{{ page.nav-title }}</a>
            {% else %}
        <li class="upper-nav-obj"><a href="{{ page.url  | relative_url }}">{{ page.title }}</a>
            {% endif %}

        </li>
        {% endfor %}
    </ol>
</nav>